.chair {
  height: 100px;
  width: 50px;
  /* background-color: beige; */
  border: 1px solid rgb(24, 12, 24);
  margin: 10px 4px 8px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.chair-white {
  background-color: white;
}
.chair-green {
  background-color: green;
}

.chair:active {
  width: 45px;
  height: 90px;
  border: 2px solid green;
}

/* .chair:hover{
    width: 90px;
} */

.label {
  background-color: rgb(138, 7, 138);
  border: 1px solid transparent;
  width: 50px;
  color: white;
  border-radius: 10px;
  font-size: 10px;
  font-family: cursive;
  /* font-weight: bold; */
  animation-name: slide;
  animation-duration: 2s;
  display: none;
}

.main {
  width: 50px;
}

.main:hover .label {
  display: block;
  margin-bottom: -10px;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.Available{
   border-top: 1px solid rgb(13, 235, 13);
  border-left: 2px solid rgb(13, 235, 13);
  border-bottom: 1px solid rgb(13, 235, 13);
  border-right: 0.7px solid rgb(13, 235, 13);
}

.ForWomen{
   border-top: 1px solid pink;
  border-left: 2px solid pink;
  border-bottom: 1px solid pink;
  border-right: 0.7px solid pink;
}

.BookedByOther{
   border-top: 1px solid black;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
  border-right: 0.7px solid black;
  background-color: gray;
}

.BookedByWomen{
   border-top: 1px solid palevioletred;
  border-left: 2px solid palevioletred;
  border-bottom: 1px solid palevioletred;
  border-right: 0.7px solid palevioletred;
  background-color: rgb(196, 193, 193);
}

